/* ===================================================== */
/* COMPOSITION - WRAPPER                                 */
/* ===================================================== */

.wrapper {
  display: grid;
  place-items: center;
  
  @media (width >= 48em) {
    padding-block: 8rem;
  }
}